@use 'assets/theme/app-theme.scss' as theme;

.page-content {
    height: 100%;
    position: relative;
    top: 5%;
    width: 60%;
    margin: auto;
    padding: 8px;
    padding: 12px;
}

.google-login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.error-box {
    color: var(--warn-main);
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    mat-icon {
        position: relative;
        top: 6px;
        cursor: pointer;
    }
}

