
// To avoid some duplicaiton all of the Styling for this component is being handled by the front-end component
// '../front-end-page/front-end-page.component.scss'

.img {
    padding: 10px;
    float: right;
    overflow: hidden;
    width: clamp(300px, 50%, 680px);
    img {
        width: 100%;
    }
}