<div class="page">
    <div class="hero-section">
        @defer (on immediate) {
        <img ngSrc="assets/images/database-hero.png" alt="" fill priority>
        } @placeholder {
        <div>loading...</div>
        }
        <div class="title-area">
            <h1>Database</h1>
        </div>
    </div>
    <div class="section">
        <div class="content-width">
            <h1>Robust Data Management and Security: Empowering Solutions with Advanced Database Technology</h1>
            <div class="img">
                <img srcset="assets/images/database_380.png 380w, assets/images/database_640.png 640w, assets/images/database_1024.png 1024w"
                    alt="database images">
            </div>
            <p>Database servers play a pivotal role in modern software architecture, acting as the backbone for data
                storage, management, and retrieval. At their core, these servers store data in a structured format,
                enabling efficient access and manipulation of information as required by various applications. Data
                security is paramount in this process, as sensitive information must be protected from unauthorized
                access and potential breaches. In line with this, we at Teles Apps employ a NoSQL database through
                Firebase, an approach that offers enhanced flexibility and scalability compared to traditional
                relational databases. This choice allows us to handle large volumes of unstructured data efficiently,
                which is essential in today's data-driven landscape. By leveraging the power and security of a NoSQL database
                with Firebase, we ensure that our clients' data is not only efficiently managed but also protected with
                the highest standards of security.</p>
        </div>
    </div>
    <div class="section">
        <div class="cta-btn">
            <button mat-raised-button color="primary" (click)="animation.onNavigate('/contact', 300)">Get Started
                Today</button>
        </div>
    </div>
    <footer></footer>