@use 'assets/theme/app-theme.scss' as theme;

ul {
    // remove all css styling from this ul and li items
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
        cursor: pointer;
    }
}

mat-slide-toggle {
}

.active-link {
    color: var(--primary-main);
}

@media screen and (max-width: theme.$mediaMd_1024) {
    ul {
        min-width: 140px;
        flex-direction: column;
        li {
            font-size: larger;
            padding: 10px 0;
        }
    }
}