<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
    </li>
    <li>
        <a routerLink="/front-end" routerLinkActive="active-link">Front-end</a>
    </li>
    <li>
        <a routerLink="/back-end" routerLinkActive="active-link">Back-end</a>
    </li>
    <li>
        <a routerLink="/database" routerLinkActive="active-link">Database</a>
    </li>
    <li>
        <a routerLink="/ai" routerLinkActive="active-link" >Generative AI</a>
    </li>
    <li>
        <mat-slide-toggle (toggleChange)="storage.changeTheme()" hideIcon></mat-slide-toggle>
    </li>
</ul>
