<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active-link" (click)="closeSidebar.emit()">Home</a>
    </li>
    <li>
        <a routerLink="/front-end" routerLinkActive="active-link" (click)="closeSidebar.emit()">Front-end</a>
    </li>
    <li>
        <a routerLink="/back-end" routerLinkActive="active-link" (click)="closeSidebar.emit()">Back-end</a>
    </li>
    <li>
        <a routerLink="/database" routerLinkActive="active-link" (click)="closeSidebar.emit()">Database</a>
    </li>
    <li>
        <a routerLink="/ai" routerLinkActive="active-link" (click)="closeSidebar.emit()">Generative AI</a>
    </li>
    <li>
        <a routerLink="/contact" routerLinkActive="active-link" (click)="closeSidebar.emit()">Contact</a>
    </li>
    <li>
        <mat-slide-toggle (toggleChange)="storage.changeTheme()" hideIcon></mat-slide-toggle>
    </li>
</ul>
