<div class="page">
  <div class="content-width">
    <mat-accordion>
      <!-- LIST OF ALL SWIM TYPES HERE -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>All Swim Types</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="user() && user()?.trackerStats as stats; else noStats" class="record-list">
          @for (swimType of stats.swimTypes; track swimType.slug) {
          <mat-card class="record-card" appearance="outlined">
            <div class="edit-btn">
              <mat-icon color="accent" (click)="onEditSwimType(swimType)">edit</mat-icon>
            </div>
            <mat-card-header>
              <mat-card-title>{{ swimType.location }}</mat-card-title>
              <mat-card-subtitle>Distance: <b>{{ swimType.requiredLaps }} laps</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>First Place: <b>{{ swimType.firstPlaceTime | fireTimeRecord }}</b></p>
              <p>Level: <b>{{ swimType.currentLevel }}</b></p>
            </mat-card-content>
          </mat-card>
          }
        </div>
      </mat-expansion-panel>
      <!-- ONLY RECORDS RELEVANT TO CURRENT SELECTIONS -->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Current Record</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="record-list">
          <!-- Card Relevant to user's Selection -->
          <mat-card class="record-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ relevantRecord.location }}</mat-card-title>
              <mat-card-subtitle>Distance: <b>{{ relevantRecord.requiredLaps }} laps</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>First Place: <b>{{ relevantRecord.firstPlaceTime | fireTimeRecord }}</b></p>
              <p>Level: <b>{{ relevantRecord.currentLevel }}</b></p>
            </mat-card-content>
          </mat-card>
          @if (totalSeconds > 0) {
          <!-- Placement Card -->
          <mat-card class="record-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ currentPosition | ordinal }} Place</mat-card-title>
              <mat-card-subtitle>
                @if(currentPosition === 1) {
                  @if(isRankingUp) {
                  <span class="level-up">Ranking up: <b>{{ toUpdateSwimType.firstPlaceTime | fireTimeRecord }}</b></span>
                  } @else {
                  <span *ngIf="toUpdateSwimType.currentLevel +1 > 5">Level Remains</span>
                  <span class="level-up" *ngIf="toUpdateSwimType.currentLevel +1 < 6">Leveling up</span>
                  }
                } @else {
                  @if(isRankingDown) {
                  <span class="level-down">Ranking down: <b>{{ toUpdateSwimType.firstPlaceTime | fireTimeRecord }}</b></span>
                  } @else {
                  <span class="level-down">Leveling down</span>
                  }
                }
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              @if (currentPosition > 1) {
              <div class="level-down">
                <p>Level: <b class="cross-out">{{ relevantRecord.currentLevel }}</b>
                  <b>{{ toUpdateSwimType.currentLevel }} </b>
                </p>
              </div>
              } @else {
              <div class="level-up">
                @if(isRankingUp) {
                <p>Level: <b class="cross-out">{{ relevantRecord.currentLevel }}</b><b>{{ toUpdateSwimType.currentLevel }}</b></p>
                } @else {
                <p>Level: <b class="cross-out">{{ relevantRecord.currentLevel }}</b>
                  <b>{{ toUpdateSwimType.currentLevel }}</b>
                </p>
                }
              </div>
              }
            </mat-card-content>
          </mat-card>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #noStats>
      <div style="display: flex;">
        <mat-icon>error</mat-icon>
        <div>No stats available. Please start tracking your swims!</div>
      </div>
    </ng-template>
    <!-- ADD NEW RECORDS -->
    <div class="form-area">
      <!-- swim type selection -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Swim Type</mat-label>
        <mat-select [(value)]="swimType" (selectionChange)="onSwimTypeChange()">
          @for (swimType of user()?.trackerStats?.swimTypes || []; track swimType.slug) {
          <mat-option [value]="swimType.slug">{{ swimType.location }} ({{ swimType.requiredLaps }} laps)</mat-option>
          }
        </mat-select>
      </mat-form-field>
      
      <!-- laps input -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Number of Laps</mat-label>
        <input matInput type="number" [(ngModel)]="laps" placeholder="Enter number of laps"
          (input)="onLapsChange()" min="1" [max]="relevantRecord.requiredLaps * 2">
        <mat-hint>Required: {{ relevantRecord.requiredLaps }} laps</mat-hint>
      </mat-form-field>
      
      <div class="distance">
        <mat-card class="distance-card">
          <mat-card-subtitle>Total Distance</mat-card-subtitle>
          <mat-card-title>
            <b>{{ laps }} laps</b>
            <span class="meters-info">{{ totalDistance }} meters</span>
          </mat-card-title>
        </mat-card>
      </div>
      
      <div class="averages">
        <mat-card class="distance-card">
          <mat-card-subtitle>Total Time</mat-card-subtitle>
          <mat-card-title>
            <b>{{ time | timeRecord }}</b>
            @if(secondsPerLap > 0) {
            <span class="meters-info">{{ secondsPerLap | timeRecord: 'seconds' }} per lap</span>
            }
          </mat-card-title>
        </mat-card>
      </div>
      
      <!-- time input -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Total Time</mat-label>
        <input matInput type="number" [(ngModel)]="time" placeholder="Enter time in minutes"
          onfocus="this.select()" (input)="onTimeChange()" #timeInput (keyup.enter)="timeInput.blur()">
      </mat-form-field>

      <div style="text-align: end;">
        <button mat-raised-button color="primary" [disabled]="!swimType || !time || laps <= 0" (click)="onSaveRecord()">Add Record</button>
      </div>
    </div>
  </div>
</div>
