<div class="page">
    <h2>BA Assistant</h2>
    <div class="content-width">
        <div class="section">
            <div style="text-align: center;">
                <h1>BA Assistant</h1>
                <p>Welcome to the BA Assistant, Please make sure you are logged into your jw.org profile to use this app
                </p>
            </div>
        </div>
        <button mat-raised-button color="accent" (click)="testConnection()">Test Connection</button>
        @if (isLoading) {
            <mat-spinner [diameter]="70"></mat-spinner>
        }
    </div>
</div>