<mat-tab-group dynamicHeight [selectedIndex]="0">
  <mat-tab label="Jogging Tracker">
    <ng-template matTabContent>
      <app-jogging-tracker></app-jogging-tracker>
    </ng-template>
  </mat-tab>
  <mat-tab label="Jogging Records">
    <ng-template matTabContent>
      <div class="page">
        <div class="content-width">
          <h2>Jogging Records History</h2>
          <!-- Records will be implemented here -->
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Swimming Tracker">
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
  <mat-tab label="Swimming Records">
    <ng-template matTabContent>
      <div class="page">
        <div class="content-width">
          <h2>Swimming Records History</h2>
          <!-- Records will be implemented here -->
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>