<div class="page">
    <div class="hero-section">
        @defer (on immediate) {
        <img ngSrc="assets/images/frontend-hero.png" alt="" fill priority>
        } @placeholder {
        <div>loading...</div>
        }
        <div class="title-area">
            <h1>Front-end Development</h1>
        </div>
    </div>
    <div class="section">
        <div class="page-content">
            <h1>Adaptive Excellence: Crafting Responsive Front-End Interfaces</h1>
            <div class="img">
                <img srcset="assets/images/responsive_380.png 380w, assets/images/responsive_640.png 640w, assets/images/responsive_1024.png 1024w"
                    alt="responsive images">
            </div>
            <p>In front-end development, reactive components that adapt content to screen size are essential.
                These
                components use modern CSS frameworks and JavaScript libraries to resize and reorganize content
                seamlessly, ensuring an optimal user experience on devices ranging from large desktops to small
                mobile phones. This approach, central to responsive web design, maintains functionality and
                visual
                appeal across all platforms. By focusing on fluid layouts and scalable images, front-end
                developers
                create interfaces that respond intuitively to different user environments, embodying the essence
                of
                accessibility and user-friendliness in the ever-evolving digital landscape.</p>
        </div>
    </div>