
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "assets/theme/app-theme.scss" as theme;
@include mat.elevation-classes();
@include mat.app-background();
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Be sure that you only ever include this mixin once!
// Utility classes
@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes(theme.$telesApps-light-theme);
// Include additional themes bellow under css classes on the application
.dark-theme {
    @include mat.all-component-themes(theme.$telesApps-dark-theme);
}


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: 'Exo', sans-serif; }

.content-width {
    width: clamp(300px, 98%, 1280px);
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.lake-loop-item .mdc-list-item__content {
    overflow: visible;
}




