<div class="page">
    <div class="hero-section">
        @defer (on immediate) {
        <img ngSrc="assets/images/future-city-1190px.png" alt="" fill priority>
        } @loading {
        <mat-spinner></mat-spinner>
        }
        <div class="title-area">
            <h1>Welcome to Teles Apps</h1>
            <h4>Building the applications of the future</h4>
            <button mat-raised-button color="primary">Get Started</button>
        </div>
    </div>
    <div class="page-content">
        <div class="features-section">
            <!-- Frontend -->
            <a (click)="animation.noAnimation()" routerLink="/front-end" class="feature">
                <div class="feature-icon">
                    @defer (on immediate) {
                    <img width="80" height="80" ngSrc="assets/images/frontend-icon-161px.png" alt="">
                    } @placeholder {
                    <mat-spinner></mat-spinner>
                    }
                </div>
                <div class="feature-title">
                    <span>Front-end</span>
                </div>
                <div class="feature-description">
                    <span>Crafting User Experiences with Precision and Creativity.</span>
                </div>
            </a>
            <!-- Backend-End -->
            <a (click)="animation.noAnimation()" routerLink="/back-end" class="feature">
                <div class="feature-icon">
                    @defer (on immediate) {
                    <img width="80" height="80" ngSrc="assets/images/backend-icon-159px.png" alt="">
                    } @placeholder {
                    <mat-spinner></mat-spinner>
                    }
                </div>
                <div class="feature-title">
                    <span>Back-end</span>
                </div>
                <div class="feature-description">
                    <span>Fortifying the Backbone for Robust and Reliable Solutions.</span>
                </div>
            </a>
            <!-- DataBase-End -->
            <a (click)="animation.noAnimation()" routerLink="/database" class="feature">
                <div class="feature-icon">
                    @defer (on immediate) {
                    <img width="80" height="80" ngSrc="assets/images/database-icon-164px.png" alt="">
                    } @loading {
                    <mat-spinner></mat-spinner>
                    }
                </div>
                <div class="feature-title">
                    <span>Database</span>
                </div>
                <div class="feature-description">
                    <span>Storing Your Data, Powering Your Insights.</span>
                </div>
            </a>
            <!-- AI -->
            <a (click)="animation.noAnimation()" routerLink="/ai" class="feature">
                <div class="feature-icon">
                    @defer (on immediate) {
                    <img width="80" height="80" ngSrc="assets/images/ai-icon-218px.png" alt="">
                    } @loading {
                    <mat-spinner></mat-spinner>
                    }
                </div>
                <div class="feature-title">
                    <span>Generative AI</span>
                </div>
                <div class="feature-description">
                    <span>Harnessing Cutting-Edge Technology for Future-Ready Solutions.</span>
                </div>
            </a>
        </div>
    </div>
</div>