@use 'assets/theme/app-theme.scss' as theme;

.page {

}

.hero-section {
    position: relative;
    height: clamp(320px, 50vw, 780px);
    img {
        object-fit: cover;
        z-index: -1;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.title-area {
    position: absolute;
    top: clamp(20px, 5vw, 80px);
    left: clamp(8px, 8vw, 120px);
    color: map-get(theme.$telesApps-app-background, lighter);
    h1 {
        font-size: clamp(16pt, 3vw, 32pt);
        font-weight: 700;
        margin-bottom: 8px;
    }
    h4 {
        font-size: clamp(10pt, 1.8vw, 24pt);
        font-weight: 400;
        margin-bottom: 8px;
    }
}

.features-section {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 200px;
    min-height: 240px;
    margin: 12px;
    padding: 12px;
    border: 1px solid var(--foreground-main);
    border-radius: 8px;
    color: map-get(theme.$telesApps-app-background, main);
    background: linear-gradient(-140deg, var(--accent-darker) 0%, map-get(theme.$telesApps-dark-background, darker) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    }
    .feature-title {
        text-align: center;
        font-size: clamp(14pt, 2.5vw, 24pt);
        font-weight: 700;
        margin: 12px 4px;
    }
    .feature-description {
        font-size: clamp(11pt, .8vw, 16pt);
        text-align: center;
    }   
}

.contact-section {
    background-color: var(--background-main);
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.contact-content {
    h1 {
        width: clamp(300px, 90%, 580px);
    }
    p {
        font-size: 14pt;
        line-height: 1.8;
        width: clamp(300px, 90%, 580px);  
    }
    .img {
        padding: 10px;
        float: right;
        overflow: hidden;
        width: clamp(300px, 40%, 680px);
        img {
            width: 100%;
        }
    }
    .btn {
        width: clamp(300px, 90%, 580px);  
        text-align: center;
    }

}

.flex-reverse {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: theme.$mediaMobile_540) {
    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
